/*    hander 样式  */
.header
{
	height: 112px;
}
.header_top
{
	height: 30px;
	font-size: 12px;
	background: #f8f8f8;
	border-bottom: 1px solid #eaeaea;
}
.header_top_nav
{
	clear: both;
	height: 30px;
	width: 1180px;
	background: #f8f8f8;
	margin:0 auto;
	position: relative;
}
.city
{
	float: left;
}
.city_icon
{
	display: inline-block;
	width: 15px;
	float: left;
	height: 15px;
	margin: 6px 4px 0 4px;
	background: url(../img/8kqw_icon.png) 0px -140px no-repeat;
}
.current_city
{
	display: inline-block;
	font-size: 12px;
	line-height: 30px;
	padding-right: 4px;
}
.city_toggle
{
	font-size: 12px;
	line-height: 30px;
	color: #f3a414;
	cursor: pointer;
}
.city .selected
{
	display: none;
}
#changecity .list-group
{
	position: absolute;
	display: block;
	z-index: 5;
	border: 5px solid rgba(255, 102, 0,.6);
	width: 225px;
	margin-top: -30px;
}
#list_header
{
	text-align: center;
	font-weight: bold;
	background:#ccc;
}
.list_list a
{
	color: #333;
}
.usermenu
{
	float: right;
	text-align: center;
	height: 30px;
}
.user_info
{
	float: left;
	padding:0 10px;
	height: 25px;
	line-height: 25px;
	border-right: 1px solid #ddd;
}
.shopcar
{
	border-right: 0;
}
.user_info
{
	height: 30px;
	margin-top: -2.5px;
	padding-top: 4.5px;
	position: relative;
}
.user_info a
{
	color: #3e3e3e;
}
.user_info a:hover
{
	color: #f3a414;
	text-decoration: none;
}
.user_info a span
{
	display: inline-block;
	width: 25px;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right:2px;
	height: 25px;
}
.weixin_icon
{
	background: url(../img/headerfooter.png) no-repeat -474px -27px;
}
.weibo_icon
{
	background: url(../img/headerfooter.png) no-repeat -474px 3px;
}
.tuangou_icon
{
	
	background: url(../img/headerfooter.png) no-repeat  -158px -96px;
}
.shopcar_icon
{
	background: url(../img/headerfooter.png) no-repeat  -160px -117px;
}
.weixin
{
	width: 100px;	
}
.qr_border
{
	position: absolute;
	width: 120px;
	height: 120px;
	background: #f8f8f8;
	top: 45px;
	padding: 10px;
	left: -10px;
	text-align: center;
	z-index: 1000;
	display: none;
}
.arrow
{
	width: 0;
	height: 0;
	position: absolute;
	border-bottom: 10px solid #f8f8f8;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top:-10px;
	left:50px;
}
.weixin_qr,.weibo_qr
{
	width: 100px;
	height: 100px;
	display: inline-block;
}
.weixin_qr
{
	background: url(../img/headerfooter.png) no-repeat 0 0;
}
.weibo_qr
{
	background: url(../img/headerfooter.png) no-repeat -305px 0;
}
.weixin:hover .qr_border
,.weibo:hover .qr_border
{
	display: block;
}
.shopcar i
{
	color: #f3a414;
}
#car_btn
{
	border:0;
	background: #f8f8f8;
	outline: none;
	outline-style:none;
	border:none;
}

/* nav_bar */
.header_nav
{
	margin-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;

}
.nav_bar
{
	width: 1180px;
	margin: 0 auto;
	position: relative;
	
}
.nav_bar_brand
{
	width: 200px;
	height: 80px;
	display: inline-block;
	padding:10px 0;
	float: left;
	overflow: hidden;
}
.nav_bar_brand img
{
	max-width: 200px;
}
.nav_bar_nav
{
	width: 640px;
	height: 78px;
	line-height: 78px;
	float: left;
}
.nav_bar_nav ul 
{
	float: left;
	height: 80px;
	padding:0;
}
.nav_menu li
{
	float: left;
	width: 104px;
	height: 80px;
	line-height: 78px;
	text-align: center;
}
.nav_bar_nav li a
{
	color: #333;
	padding: 0 20px;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}
.nav_menu .current a,
.nav_menu li:hover a 
{
	color: #ff812d;
}
.nav_menu .current,
.nav_menu li:hover 
{
	border-bottom: 2px solid #ff812d;
}
.nav_bar_search
{
	float: left;
	width: 340px;
	position: relative;
}
.nav_bar_search .search_select
{
	width: 70px;
	height: 25px;
	background: red;
	display: inline-block;
	margin-top: 30px;
	opacity: 0;
	cursor: pointer;
}
.search_label
{
	width: 70px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
	position: absolute;
	margin-top: 22px;
	border: 1px solid #A9A9A9;
	color: #797979;
	background: #f9f9f9;
}
.search_label .arrow
{
	width: 10px;
	height: 20px;
	background: url(../img/icons_sel.png) no-repeat -10px -3px;
	position: absolute;
	margin-top: 20px;
}
.nav_bar_search .search_key
{
	width: 180px;
	height: 20px;
	margin-top: 22px;
	border: 1px solid #A9A9A9;
	position: absolute;
	left: 70px;
	margin-left: -1px;
}
.nav_bar_search #search_submit
{
	width: 40px;
	height: 22px;
	margin-left: 3px;
	margin-top: 22px;
	position: absolute;
	left: 270px;
}

/*    wrap样式    */
.wrap
{
	width: 1180px;
	min-height: 400px;
	text-align: left;
	margin: 15px auto;
}
#myFocus
{
	width: 880px;
	height: 320px;
	float: left;
}
.rightbox
{	display: inline-block;
	width: 282px;
	float: right;
	border: 1px solid #eee;
	position: relative;
}
.loan
{
	float: left;
	margin-left: 10px;
	text-align: left;
	width: 222px;
	display: none;
}
.loan p
{
	font-size: 12px;
	margin-top: 10px;
	line-height: 20px;
	width: 212px;
}
.house_icon
{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/house_icon.png) ;
	background-size: cover;
	margin: 0 3px -2px 3px;

}
.loan .post_info
{
	border: 1px solid #e1e1e1;
	width: 212px;
	padding: 8px 4px;
	vertical-align: middle;
	border-radius: 3px;
	background: #fff;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 10px;

}
#submit_info
{
	background: #F37B1D;
	border-color: #F37B1D;
	width: 212px;
	margin-bottom: 10px;
	border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 0;
    text-align: center;
    height: 26px;
    color: white;
}
.rightbox .rightbox_ctrl
{
	float: right;
	height: 274px;
	width: 40px;
	margin-bottom: 0px;
	
}
.rightbox .rightbox_ctrl li
{
	padding: 0 10px;
	height: 138.5px;
	width: 40px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eee;
	padding-top: 20px;
	margin-top: -1px;
}
.calculator
{
	position: relative;
	width: 222px;
}
#loan_cash
{
	position: absolute;
}
 .unit
{
	position:absolute;
	z-index: 2;
	right:  2px;
	top: 8px;
}
.loan_limit
{
	width: 100%;
	position: absolute;
	top:50px;
	text-align: center;
	padding: 0;
}
.loan_year
{
	width: 39px;
	height: 35px;
	display: inline-block;
	float: left;
	border:1px solid #a8a8a8;
	border-radius: 4px;
	margin-right: 5.4px;
	text-align: center;
	padding-top: 6px;
}
.loan_year:hover
{

}
#cal_table
{
	width: 100%;
	margin-top: 100px;
	background: red;
	position: absolute;
}

.home_icon
{
	width: 1143px;
	height: 183px;
	clear: both;
	float: left;
	margin-top: 15px;
}
.home_icon ul
{
	padding: 20px 0 0 55px;
}
.home_icon li a
{
	float: left;
	margin-right: 102px;
	position: relative;
	width: 115px;
}
.home_icon li a:hover .title
{
	color: #F37B1D;
}
.home_icon img
{
	width: 115px;
	height: 115px;
	
}
.home_icon .title
{
	display: block;
	position: absolute;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	width: 115px;
	text-align: center;
	color: #666666;
}

.huodongbox,.home_index
{
	width: 1180px;
	min-height: 200px;
	clear: both;
	float: left;
	margin-top: 30px;
}
.huodongbox a
{
	text-decoration: none;
	display: block;
}
.huodongbox a:hover
{
	text-decoration: none;
}
.huodongbox a:hover .huodong
{
	opacity: 0.9;
	background: #c9c9c9;
}

.huodong
{
	width: 290px;
    float: left;
    margin-right: 5px;
    background: #f9f9f9;
}
.huodong .progress
{
	margin: 10px 20px;
	height: 8px;
}
.huodong img
{
	width: 290px;
}
.huodong .title
{
	font-size: 20px;
    color: #333;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
}
.huodong .subtitle
{
	font-size: 14px;
	line-height14px;
	text-align: left;
	margin-top: 15px;
	color: #333;
	margin-left: 20px;
}

.home_index .index_title
{
	font-size: 30px;
    color: #333;
    line-height: 40px;
}
.home_index .index_title span
{
	font-size: 12px;
    color: #666;
    padding-left: 10px;
}
.trader
{
	display: block;
	float: left;
}
.trader_right
{
	float: left;
	width: 918px;
}
.trader_right ul
{
	padding: 0 0 0 1px;
}
.trader_right li
{
	float: left;
	height:101px;
	width:153px;
	border: 1px solid #eee;
	margin-left: -1px;
	margin-top: -1px;
}




