<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<!-- 文档兼容模式的定义 码强制 IE 使用 Chrome Frame 渲染没有的花使用也就是任何 IE 版本都以当前版本所支持的最高级标准模式渲染 -->
	<meta  http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="Keywords" content="家装，广东家装分期贷款,东莞2厘5装修贷,东莞装修建材贷款,工商银行装修贷款,家居网上商城, 建材家居商城 ,家居装修网,家居团购网">
	<title>八块钱网</title>
	<link rel="stylesheet" href="../css/reset.css" type="text/css">
	<link rel="stylesheet" href="../css/index_main.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">

	<!-- boostrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
	<!-- jq -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- myfocus -->
	<script type="text/javascript" src="../js/myfocus-2.0.1.min.js"></script>
	
</head>
<body>
	<!-- 头部 -->
	<div class="header">
		<!-- 头部顶部 -->
		<div class="header_top ">
			<div class="header_top_nav">
			<div class="city">
				<span class="city_icon"></span>
				<span class="current_city">东莞</span>
				<span class="city_toggle">[切换]</span>
				<!-- 点击切换更改城市 -->
				<div class=" selected" id="changecity">
					<ul class="list-group">
						<li class="list-group-item" id="list_header">请选择您所在的城市:
							<button type="button" class="close" id="city_colse"><span>&times;</span>
							</button>
						</li>
						<li class="list-group-item list_list"><a href="#">东莞</a></li>
					</ul>
				</div>
			</div>

			<div class="usermenu">
				<div class="register user_info">
					<a href="#">注册</a>
				</div>

				<div class="login user_info">
					<a href="#">登入</a>
				</div>
				
				<div class="weixin user_info">
					<a href="#" ><span class="weixin_icon "></span> 官方微信</a>
					<div class="qr_border">
						<div class="arrow"></div>
						<div class="weixin_qr"></div>
					</div>
				</div>
				
				<div class="weibo user_info">
					<a href="#" ><span class="weibo_icon "></span> 官方微博</a>
					<div class="qr_border">
						<div class="arrow"></div>
						<div class="weibo_qr"></div>
					</div>
				</div>
				
				<div class="tuangou user_info">
					<a href="#"><span class="tuangou_icon"></span> 团购券查询</a>
				</div>

				<div class="shopcar user_info">
					<a href="#"><span class="shopcar_icon">
					</span></a>
					<span class="dropdown">
  						<button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="car_btn">
    					购物车<i class="shops_count">0</i>件
    					<span class="caret"></span>
  						</button>
  						<ul class="dropdown-menu">
   							 <li ><a href="#">购物篮是空的</a></li>
   						</ul>
  					</span>
				</div> 
			</div>
			<!-- usermenu 结束 -->
			</div>
			<!-- header_top_nav结束 -->
		</div>
		<!-- 头部顶部结束 -->

		<div class="header_nav">
			<div class="nav_bar">
				<div class="nav_bar_brand">
					<a href="#"><img src="../img/logo.png" alt="八块钱网图"></a>
				</div>

				<div class="nav_bar_nav">
					<ul class="nav_menu">
						<li class="current"><a href="#">商城首页</a></li>
						<li><a href="#" title="分期宝">分期宝</a></li>
						<li><a href="#" title="省心商家">省心商家</a></li>
						<li><a href="#" title="省钱商品">省钱商品</a></li>
						<li><a href="#" title="家装攻略">家装攻略</a></li>
						<li><a href="#" title="商务合作">商务合作</a></li>
					</ul>
				</div>

				<div class="nav_bar_search">
						<form action="shops_search" method="get" accept-charset="utf-8">
							<select name="search_shops" class="search_label">
								<option value="shops" selected>商品</option>
								<option value="trader">商家</option>
								<option value="article">文章</option>
							</select>
							<input class="search_key" type="text" placeholder="请输入商品名称"></input>
							<input type="submit" value="查找" class=" btn btn-default" id="search_submit">
						</form>
				</div>

			</div>
			<!-- nav_bar结束 -->
		</div>
		<!-- header_nav结束 -->
	</div>
	<!-- 头部结束 header -->

	<!-- 中间包裹 -->
	<div class="wrap">
		<div id="myFocus"><!--焦点图盒子-->
  			<div class="loading"><img src="../img/loading.gif" alt="请稍候..." /></div><!--载入画面-->
  			<div class="pic"><!--图片列表-->
  			<ul>
        		<li>
        		<a href="http://www.8kqw.com/?mod=article&code=view&id=2356"><img src="../img/logo1.gif"  alt="八块钱网户外广告上线啦!" text="" /></a>
        		</li>
        		<li>
        		<a href="http://www.8kqw.com/?mod=loan"><img src="../img/logo2.gif"  alt="八块钱网 分期宝" text="" /></a>
        		</li>
        
  			</ul>
  			</div>
		</div>
		<!-- myFoucs end -->
			
		<div class="rightbox">
			<ul class="rightbox_ctrl">
				<li class="loan_ctrl ctrl">
					<span class="loan_icon"></span>我要分期
				</li>
				<li class="calculator_ctrl">
					<span class="cal_icon"></span>分期计算器
				</li>
			</ul>
			<div class="loan">
				<form action="#fuwuqi" method="post" accept-charset="utf-8">
					<p class="loan_intro">10秒登记，免费快速申请分期宝</p>
				
					<input type="text" name="username" id="username" placeholder="请填写姓名" class="post_info">
					<input type="text" name="userphone" id="userphone" placeholder="请填写电话" class="post_info">
					<p class="loan_destr"><span class="house_icon"></span>装修建材分期付款，月费率低至0.25%，最长5年</p>
					<input type="submit "  value="我要申请" id="submit_info">
				</form>
			</div>
			<div class="calculator">
				
			</div>
		</div>

	</div>
	<!-- warp 结束 -->
	
	<script src="../js/index_main.js" type="text/javascript"></script>
</body>
</html>